# Logs
[Ll]og/
[Ll]ogs/
training_logs/
*.ckpt.*
checkpoint
*.h5
[Tt]raining_logs/
tutorial/training_logs/cp.weights.h5
tutorial/training_logs/history.json
data/*png
tutorial/debug.py
data/aevqe_data_HH_1000 (copy).json
data/aevqe_data_HH_big (copy).json
